In [53]:
from graph import create_directed_graph, create_undirected_graph
import pandas as pd

In [54]:
undirected_graph = create_undirected_graph("city")

In [55]:
directed_graph = create_directed_graph("city")

In [56]:
df_location = "df_migration_steps.csv"
df_geo_new_location = "df_geo_new.csv"

In [57]:
df = pd.read_csv(df_geo_new_location)

In [58]:
df

        code         lon        lat
0     360681  117.186973  28.188428
1     360402  116.039436  29.634605
2     511623  106.991830  30.258922
3     511702  107.432388  31.362205
4     230229  125.670668  48.168083
...      ...         ...        ...
2692  510117  103.875783  30.835732
2693  211104  122.072109  40.927406
2694  320118  118.964402  31.331188
2695  530581   98.494089  25.274942
2696  340181  117.718696  31.644665

[2697 rows x 3 columns]

In [59]:
df_cities = df.copy()
df_cities['code'] = df_cities['code'].astype(str).str[:4]
df_prefectures = df.copy()
df_prefectures['code'] = df_prefectures['code'].astype(str).str[:2]

In [60]:
df_prefectures.columns

Index(['code', 'lon', 'lat'], dtype='object')

In [61]:
df_cities

      code         lon        lat
0     3606  117.186973  28.188428
1     3604  116.039436  29.634605
2     5116  106.991830  30.258922
3     5117  107.432388  31.362205
4     2302  125.670668  48.168083
...    ...         ...        ...
2692  5101  103.875783  30.835732
2693  2111  122.072109  40.927406
2694  3201  118.964402  31.331188
2695  5305   98.494089  25.274942
2696  3401  117.718696  31.644665

[2697 rows x 3 columns]

In [62]:
#get the geodesic middle point between lon lat for df_cities with the same code use geopandas and use wgs84
import geopandas as gpd
from shapely.geometry import Point
    
geometry = [Point(xy) for xy in zip(df_cities['lon'], df_cities['lat'])]
gdf = gpd.GeoDataFrame(df_cities, geometry=geometry)
gdf.set_crs(epsg=4326, inplace=True)
gdf_grouped = gdf.dissolve(by='code', aggfunc='mean')
gdf_grouped = gdf_grouped.reset_index()
df_geo_new = pd.DataFrame(gdf_grouped.drop(columns='geometry'))
df_geo_new.to_csv('df_geo_cities.csv', index=False)

In [63]:
geometry = [Point(xy) for xy in zip(df_prefectures['lon'], df_prefectures['lat'])]
gdf = gpd.GeoDataFrame(df_prefectures, geometry=geometry)
gdf.set_crs(epsg=4326, inplace=True)
gdf_grouped = gdf.dissolve(by='code', aggfunc='mean')
gdf_grouped = gdf_grouped.reset_index()
df_geo_new = pd.DataFrame(gdf_grouped.drop(columns='geometry'))
df_geo_new.to_csv('df_geo_prefectures.csv', index=False)

In [65]:
len(directed_graph.edges(data=True))

178263